.CardProduct {
    display: flex;
    justify-content: space-between;
}

.boxLeft {
    max-width: 250px;
}

.name {
    font-size: 29px;
    font-weight: 300;
}

.price {
    font-size: 35px;
    font-family: "GinoraSansLight";
    font-weight: 300;
}

.wrapper {
    display: flex;
    align-items: center;
}

.span {
    font-size: 19px;
    font-family: "GinoraSansLight";
    font-weight: 300;
    padding-left: 6px;
}

.boxCenter {
    max-width: 426px;
}

.boxRight {
    max-width: 230px;
    margin-left: 160px;
}

.inner {
    padding-left: 30px;
    padding-top: 70px;
    margin-bottom: 20px;
}

.caption {
    font-size: 17px;
    font-weight: 700;
}

.title {
    font-size: 58px;
    font-weight: 100;
}

