.CardProduct {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.name {
    font-size: 29px;
    font-weight: 300;
}

.price {
    font-size: 35px;
    font-family: "GinoraSansLight";
    font-weight: 300;
}

.wrapper {
    display: flex;
    align-items: center;
}

.span {
    font-size: 19px;
    font-family: "GinoraSansLight";
    font-weight: 300;
    padding-left: 6px;
}

.inner {
    display: flex;
    justify-content: center;
}

.caption {
    font-size: 17px;
    font-weight: 700;
}

.title {
    font-size: 58px;
    font-weight: 100;
}

