@font-face {
    font-family: "RobotoThin";
    src: url(./../assets/fonts/RobotoThin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "RobotoLihgt";
    src: url(./../assets/fonts/RobotoLihgt.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url(./../assets/fonts/RobotoMedium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url(./../assets/fonts/RobotoBold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBlack";
    src: url(./../assets/fonts/RobotoBlack.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "RobotoCondensed";
    src: url(./../assets/fonts/RobotoCondensed.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "GinoraSansLight";
    src: url(./../assets/fonts/GinóraSansLight.otf);
    font-weight: 300;
    font-style: normal;
}